:root{
    --gallery-columns:4
}



@media (max-width:1200px){
    :root{
        --gallery-columns:3
    }
}


@media (max-width:800px){
    :root{
        --gallery-columns:2
    }
}


@media (max-width:400px){
    :root{
        --gallery-columns:1
    }
}


:root{
    --gallery-item-width:calc(100vw/(var(--gallery-columns)));
    --gallery-item-height:var(--gallery-item-width);
}


.react-gallery .items{
    display:grid;
    grid-template-columns: repeat(var(--gallery-columns),1fr);
    
    max-width:100vw;
    
    gap:0;

}

.react-gallery .item{
    width:var(--gallery-item-width);
    height:var(--gallery-item-height);
    cursor:pointer;
    

}


.react-gallery .item .image{
    width:100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    

}





/* image popup*/

.react-gallery .item-popup{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.5);

    display:flex;
    justify-content: center;
    align-items: center;
}

.react-gallery .item-popup-content{
    
    display:flex;
    max-width: 80%;
    max-height:80%;
    position:relative;
    
}

.react-gallery .image-popup{
    width:100%;
    object-fit: contain;
    
}


.react-gallery .title{
    position:absolute;
    color:white;
    bottom: 17px;

    text-align: center;
    width: 100%;
    font-size:1.5rem;
    text-transform: capitalize;
}


/* arrows for slider navigation */

.arrow{
    margin:20px;
    cursor:pointer;
    font-size:2rem;

}

